.weather__container {
    width: 90%;
    display: grid;
    grid-template-columns: 30% 30%;
    grid-gap: 15px;
    justify-content: space-around;
    padding: 1.5%;
  }
  .weather__drag {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height: 8em;
  }
  .weather__left {
    width: 30%;
    color: white;
    background-color: #404040;
  }
  .weather__city {
    font-size: 1.5vw;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
  }
  .weather__right {
    width: 60%;
    background-color: pink;
  }
  .weather__temp {
    font-size: 30px;
    margin-block-start: 0.8em;
    margin-block-end: 0.3em;
  }
  